/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #324047;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
    color: #B0E0E6;
}

/* Header Styles */
header {
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 100%;
    position: relative;
    color:  #f8f9fa;
} 

/*header foto*/
header .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
} 


header h1 {
    margin: 0;
    font-size: 3em;
}

header p {
    margin: 0;
    font-size: 1.5em;
    color: #f8f9fa;
}

#confirmacion a.btn-secondary {
    background-color: #5F9EA0;
    border-color: #5F9EA0;
    color: #ffffff !important; /* Color del texto */
}


 
/* Archivo style.css botones ubicacion */ 
#ubicacion .btn-primary {
    background-color: #5F9EA0;
    border-color: #5F9EA0;
    color: #ffffff !important;
}

#ubicacion .btn-custom {
    background-color: #5F9EA0;
    border-color: #5F9EA0;
    color: #ffffff; /* Puedes ajustar el color del texto si es necesario */
}

#ubicacion .btn-custom:hover {
    background-color: #4E8A87; /* Un tono más oscuro para el hover */
    border-color: #4E8A87;
    color: #ffffff;
}


#ubicacion .text-primary {
    color: #5F9EA0!important; /* Color azul para "Ceremonia y Recepción" */
}

#ubicacion .text-danger {
    color: #dc3545 !important; /* Color rojo para "En Coche" */
}

#ubicacion .text-success {
    color: #28a745 !important; /* Color verde para "En Transporte Público" */
}

#ubicacion .text-warning {
    color: #ffc107 !important; /* Color amarillo para "Aparcamiento" */
}

/* Navbar Styles */
.navbar-toggler {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background: transparent;
    font-size: 1.5em;
    color: #B0E0E6;
    outline: none;
}

.navbar-toggler-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    transition: transform 0.3s ease;
}

.navbar-toggler-icon.open {
    transform: rotate(90deg);
}

/* Sidebar Styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #263238;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar.active {
    width: 250px;
}

.sidebar .components {
    padding: 8px 8px 8px 32px;
}

.sidebar .components .nav-link {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.25em;
    color:  #5F9EA0;
    display: block;
    transition: 0.3s;
}

.sidebar .components .nav-link:hover {
    color:  #B0E0E6;
}

/* Countdown Timer Styles */
#countdown {
    color:  #B0E0E6; /* Dorado */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#countdown h2 {
    color: #B0E0E6 !important; /* Dorado */
}

#timer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#timer div {
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    color:  #B0E0E6 ; /* Dorado */
}

#timer span {
    display: block;
}

#timer .h1 {
    font-size: 2.5em;
    margin: 0;
    color:  #B0E0E6 !important /* Dorado */
}
#timer .h2 {
  
    color:  #B0E0E6 !important /* Dorado */
} 

/* Section Styles */
#nos-casamos {
    padding: 20px;
    text-align: center;
    animation: fadeIn 2s;
    color:  #B0E0E6; 
    background-color: #f8f9fa;
}

#nos-casamos h2 {
    color:  #B0E0E6 !important;
    font-size: 2.5em;
    margin-bottom: 20px;
}

#nos-casamos p {
    color: #6c757d!important; /* Color para los párrafos */
} 


#confirmacion p {
    color: #6c757d!important;
}

#ubicacion h2 {
    color:  #B0E0E6 !important;
}
 
#confirmacion h2 {
    color:  #B0E0E6 !important;
}  

/* Gold Text Style */
.text-gold {
    color: #B0E0E6 !important; /* Dorado */
}

/* Image Styles */
.img-fluid {
    max-width: 100%;
    height: auto;
    animation: fadeIn 2s;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background: #263238 !important; /* Fondo negro para el footer */
    color:#888;
    font-size: 0.9em; 
    width: 100%;
}

footer a {
    color: #888;
    text-decoration: none;
}



/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate__animated {
    visibility: hidden;
}

.animate__animated.animate__fadeIn {
    visibility: visible;
    animation-name: fadeIn;
    animation-duration: 2s;
}

/* Utility Classes */
.text-primary {
    color: #007bff !important;
}

.text-secondary {
    color:  #B0E0E6 !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5em;
    }

    header p {
        font-size: 1.2em;
    }

    .nav-link {
        padding: 8px 16px;
        margin: 3px;
    }

    #timer {
        flex-direction: column;
        gap: 5px;
    }

    #timer div {
        padding: 10px 15px;
    }

    #timer .h1 {
        font-size: 2em;
    }
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #324047;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    color: #fff;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Additional styling */
button {
    margin: 20px;
}

/* utils/style.css */

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
} 
.custom-color {
    color:#B0E0E6 !important ;
}

#regalos {
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 
 

#regalos .card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#regalos .card-title {
    font-size: 1.5rem;
    color: #5F9EA0!important;
}

#regalos .card-text {
    font-size: 1rem;
    color: #6c757d;
}

.animated-envelope {
    margin-bottom: 20px;
}

.animated-envelope .fa-envelope, .animated-envelope .fa-gift {
    animation: bounce 2s infinite;
    color: #324047;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
} 
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.custom-color {
    color: #5F9EA0;
}

#vestimenta {
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#vestimenta .card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#vestimenta .card-title {
    font-size: 1.5rem;
    color:#5F9EA0 ;
}

#vestimenta .card-text {
    font-size: 1rem;
    color: #6c757d;
} 
               


/* utils/style.css */

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.custom-color {
    color: #5F9EA0;
}

#itinerario {
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timeline {
    list-style: none;
    padding: 0;
    position: relative;
}

.timeline:before {
    content: '';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 50%;
    width: 4px;
    height: 100%;
    z-index: 400;
}

.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
    position: relative;
}

.timeline > li:before {
    content: '';
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.timeline > li > .timeline-panel {
    background: #fff;
    border: 1px solid #d4d9df;
    border-radius: 2px;
    padding: 10px 20px;
    position: relative;
    width: 45%;
    left: 55%;
    z-index: 400;
}

.timeline > li > .timeline-panel:before {
    border-left: none;
    border-right: 15px solid transparent;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    left: -15px;
    top: 26px;
}

.timeline > li > .timeline-panel > .timeline-heading > h4 {
    margin: 0;
    color: #22c0e8;
}

.timeline > li > .timeline-panel > .timeline-heading > p > small {
    color: #999;
}

.timeline-badge {
    color: #fff;
    background: #22c0e8;
    border-radius: 50%;
    padding: 10px;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -15px;
    z-index: 500;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.custom-color {
    color: #5F9EA0;
}

#contacto {
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contacto .card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contacto .card-title {
    font-size: 1.5rem;
    color: #007bff;
}

#contacto .card-text {
    font-size: 1rem;
    color: #6c757d;
} 
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.custom-color {
    color: #5F9EA0;
}

#confirmacion {
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.confirmacion-container {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.custom-color {
    color: #5F9EA0;
}

#ubicacion {
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ubicacion-container {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.custom-color {
    color: #5F9EA0;
}

#welcome-container {
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#welcome-container p {
    font-size: 1.1rem;
    color: #6c757d;
} 
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.custom-color {
    color: #5F9EA0;
}

.musica-container {
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.musica-container h2, .musica-container h3 {
    color: #5F9EA0;
}

.musica-container p {
    font-size: 1.1rem;
    color: #6c757d;
} 
#songList .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#songList .list-group-item button {
    background: none;
    border: none;
    color: #dc3545;
    font-size: 1.2rem;
    cursor: pointer;
}

#songList .list-group-item button:hover {
    color: #c82333;
} 
.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item button {
    background: none;
    border: none;
    color: #dc3545;
    font-size: 1.2rem;
    cursor: pointer;
}

.list-group-item button:hover {
    color: #c82333;
} 
#itinerario h2{ 
    color: #B0E0E6;
}
#itinerario h4{
    color: #4E8A87;
} 


.timeline {
    list-style: none;
    padding: 0;
    position: relative;
}

.timeline-panel {
    position: relative;
    width: 50%;
    padding: 20px;
    text-align: left;
}

.timeline-panel::before {
    content: "";
    display: table;
}

.timeline-panel::after {
    content: "";
    display: table;
    clear: both;
}

.timeline>li:nth-child(odd) .timeline-panel {
    left: 0;
}

.timeline>li:nth-child(even) .timeline-panel {
    left: 50%;
} 
 

/* Otras reglas CSS existentes */

/* Cambia el color de los círculos en la línea de tiempo */
.timeline::before {
    background-color:#6c757d; /* Cambia este color al que desees */
}

.timeline > li::before {
    background-color: #4E8A87; /* Cambia este color al que desees */  
    border-color: #4E8A87;
}


